* {
  box-sizing: border-box;
}
:root {
  --colore-bg: #ffe4c4;
}
body {
  background-color: var(--colore-bg);
}
.container {
  background-color: rgb(192, 166, 117);
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  margin-bottom: 30px;
}
.item {
  border: 3px solid;
  text-align: center;
  flex: 1 1 calc(100% / 5 - 3px * 4 / 5);
}
.container1 .item {
  margin-block: 0px auto;
  max-width: 100px;
}
